source https://nuget.org/api/v2
redirects: on

nuget Nuget.CommandLine
nuget Yaaf.AdvancedBuilding

nuget FSharp.Core
nuget Yaaf.Portable.Text.Encoding
nuget Yaaf.Logging

nuget NUnit
nuget NUnit.Runners
nuget Unquote
nuget FsUnit
nuget FsCheck