source https://nuget.org/api/v2

nuget Nuget.CommandLine
nuget Yaaf.AdvancedBuilding

nuget FSharp.Core
nuget FSharpx.Collections
nuget Yaaf.Portable.Text.Encoding
nuget Yaaf.Logging

nuget NUnit == 2.6.3
nuget NUnit.Runners
nuget Unquote
nuget FsUnit